*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #e5e5f7;
opacity: 1;
background-image:  linear-gradient(30deg, #000ce6 12%, transparent 12.5%, transparent 87%, #000ce6 87.5%, #000ce6), linear-gradient(150deg, #000ce6 12%, transparent 12.5%, transparent 87%, #000ce6 87.5%, #000ce6), linear-gradient(30deg, #000ce6 12%, transparent 12.5%, transparent 87%, #000ce6 87.5%, #000ce6), linear-gradient(150deg, #000ce6 12%, transparent 12.5%, transparent 87%, #000ce6 87.5%, #000ce6), linear-gradient(60deg, #000ce677 25%, transparent 25.5%, transparent 75%, #000ce677 75%, #000ce677), linear-gradient(60deg, #000ce677 25%, transparent 25.5%, transparent 75%, #000ce677 75%, #000ce677);
background-size: 64px 112px;
background-position: 0 0, 0 0, 32px 56px, 32px 56px, 0 0, 32px 56px;
}

.card{
    background: rgba(40, 34, 34, 0.74);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card .btn .copy {
    background-color: #5b5bff;
    color: #fff;
    transition: 0.2s all ease-in-out;
}
.card .btn .copy:hover {
    background-color: #3b3bc6;
}
.card .btn .copy svg{
    width: 20px;
    width: 20px;
  height: auto;
  color: #fff;
}
.card input{
    background: #00000045;
  outline: none;
  color: #fff;
}
.card input.checkbox{
    width: 20px;
    height: 20px;
    outline: none;
}
.card .generate-Btn button{
    background-color: #5b5bff;
    color: #fff;
    transition: 0.2s all ease-in-out;
}
.card .generate-Btn button:hover{
    background-color: #fff;
    color: #000ce6;
}